node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
logs
*.log
dist/
build/
out/
release/
*.exe
*.msi
*.deb
*.AppImage
*.dmg
/electron-builder.yml
/electron-builder.json
*.blockmap

*.sqlite
*.sqlite3
*.db
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.cache/
coverage/
tmp/
temp/
