<link rel="stylesheet" href="../css/header.css">

<header class="main-header">

    <div class="header-logo">
        <h1>Gym syfit</h1>
    </div>

    <div class="header-user-trigger" id="profile-trigger">
        <img src="../img/profile-perfil.png" alt="User" class="avatar-img">
    </div>

</header>

<div class="profile-modal-overlay" id="profile-modal">

    <div class="profile-card">

        <button class="close-modal" id="close-profile">
            <img src="../img/x.png" alt="X">
        </button>

        <div class="profile-header">

            <div class="profile-avatar-container">
                <img src="../img/profile-perfil.png" alt="Profile" id="modal-avatar">
            </div>

            <h2 id="modal-name">Cargando...</h2>
            <p id="modal-role">Rol del usuario</p>
        </div>

        <div class="profile-menu">
            <button class="menu-item btn-settings" id="btn-settings">
                <img src="../img/header-confi.png" alt="Icon">

                <div class="menu-text">
                    <span>Configuración</span>
                    <small>Ir al modulo de configuración</small>
                </div>
            </button>

            <button class="menu-item btn-help" id="btn-help">
                <img src="../img/header-ayuda.png" alt="Icon">

                <div class="menu-text">
                    <span>Ayuda</span>
                    <small>Obtener ayuda de soporte técnico</small>
                </div>
            </button>

            <button class="menu-item btn-logout" id="btn-logout">
                <img src="../img/header-salir.png" alt="Icon">

                <div class="menu-text">
                    <span>Cerrar sesión</span>
                    <small>Salir del sistema</small>
                </div>
            </button>
        </div>
    </div>
</div>