<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="format-detection" content="telephone=no">

    <title>Panel operativo</title>


    <link rel="stylesheet" href="../css/index.css">

</head>

<body>

    <div id="header-container"></div>

    <main>

        <div class="dashboard-grid">

            <div class="card" id="button-clientes">
                <img src="../img/cliente.png" alt="Clientes" class="card-icon">
                <h2>Clientes</h2>
                <p>Gestionar o actualizar clientes</p>
            </div>

            <div class="card" id="button-membresias">
                <img src="../img/membresia.png" alt="Membresías" class="card-icon">
                <h2>Membresías</h2>
                <p>Revisar o verificar membresías</p>
            </div>

            <div class="card" id="button-visitas">
                <img src="../img/visita.png" alt="Visitas" class="card-icon">
                <h2>Visitas</h2>
                <p>Consultar y registrar visitas</p>
            </div>

            <div class="card" id="button-ventas">
                <img src="../img/venta.png" alt="Ventas POS" class="card-icon">
                <h2>Ventas POS</h2>
                <p>Registrar nuevas ventas POS</p>
            </div>

            <div class="card" id="button-pagos">
                <img src="../img/pagos.png" alt="Pagos" class="card-icon">
                <h2>Pagos</h2>
                <p>Registrar o consultar pagos</p>
            </div>

            <div class="card" id="button-ajustes">
                <img src="../img/configuracion.png" alt="Ajustes" class="card-icon">
                <h2>Ajustes</h2>
                <p>Configuraciones del sistema</p>
            </div>

        </div>
    </main>

    <script src="../js/header.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>